<div class="grid-container">
   <div class="grid-item grid-header">
      Activities
   </div>
</div>
<div *ngIf="!is_add_new_entry_screen()" class="grid-container">
   <div class="grid-item grid-score-overview">
      <div class="score-overview">
         <div class="scores">
            <div *ngFor="let _ of [].constructor(30), let i = index">
               <div class="day-score {{get_color_class(i)}}" placement="bottom"></div>
            </div>
         </div>
         <div class="months">
            <div class="month">Jan</div>
         </div>
      </div>
   </div>
   <div class="grid-item grid-date-dropdown">
      <div ngbDropdown class="d-inline-block">
         <button type="button" class="btn btn-light btn-lg" id="dropdownBasic1" ngbDropdownToggle>
            14.04.2023
         </button>
         <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Diese Woche</button>
            <button ngbDropdownItem>Anderer Tag</button>
         </div>
      </div>
   </div>
   <div class="grid-item grid-add-score" (click)="add_score()">
      <svg viewBox="0 0 512 512" width="50" title="plus-circle">
         <path
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z" />
      </svg>
   </div>
</div>
<div *ngIf="is_add_new_entry_screen()">
   <app-add-new-score></app-add-new-score>
</div>

<!-- Debug-Panel: Manually adding new scores -->
<div *ngIf="!is_add_new_entry_screen()" class="grid-container">
   <div class="grid-item grid-score-overview" style="grid-row: 1;">
      <h6>[Debug] Add entry </h6>
      <div class="scores" style="grid-row: 1;">
         <div *ngFor="let _ of [].constructor(10), let i = index">
            <div class="day-score d{{i+1}}" (click)="debug_add_score_entry(i)"></div>
         </div>
      </div>
   </div>
</div>