<div class="grid-container">
    <div class="grid-item grid-categories">
        <div *ngFor="let category of get_categories() | keyvalue">
            <div class="new-score">
                <div style="display:flex; gap: 8px;">
                    <button [hidden]="!isEditing" (click)="delete_category(category.key)" class="btn"
                        style="padding: 2px; height: 27px;">
                        <svg style="padding-bottom: 12px;" viewBox="0 0 512 512" width="20" title="minus-circle">
                            <path style="fill:rgb(218, 62, 35)"
                                d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zM124 296c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h264c6.6 0 12 5.4 12 12v56c0 6.6-5.4 12-12 12H124z" />
                        </svg>
                    </button>
                    <div>
                        <p>{{category.value}}</p>
                    </div>
                </div>
                <div [hidden]="isEditing" style="display: flex">
                    <div class="new-category-score d2" (click)="on_tap(category.key, 0)"
                        [ngClass]="get_category_score(category.key) == 0? 'new-category-score-clicked': ''"></div>
                    <div class="new-category-score d5" (click)="on_tap(category.key, 1)"
                        [ngClass]="get_category_score(category.key) == 1? 'new-category-score-clicked': ''"></div>
                    <div class="new-category-score d7" (click)="on_tap(category.key, 2)"
                        [ngClass]="get_category_score(category.key) == 2? 'new-category-score-clicked': ''"></div>
                    <div class="new-category-score d9" (click)="on_tap(category.key, 3)"
                        [ngClass]="get_category_score(category.key) == 3? 'new-category-score-clicked': ''"></div>
                </div>
            </div>
        </div>
        <div [hidden]="!isEditing" class="new-score">
            <div style="display:flex; gap: 12px;">
                <svg viewBox="0 0 512 512" width="20" title="plus-circle" style="margin-left: 3px;">
                    <path
                        style="fill: green;"
                        d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z" />
                </svg>
                <form>
                    <input style="width: 180px;" (keydown.enter)="submit_new_category($event)" maxlength="13" placeholder="Press &#x23CE; to commit">
                </form>
            </div>
            <div></div>
        </div>
        <div class="new-score" style="justify-content: start; gap: 5px;">
            <button [hidden]="isEditing" class="btn btn-light new-score-edit" (click)="edit_categories()">
                <svg viewBox="0 0 544 512" width="15" title="highlighter">
                    <path style="fill: rgb(154, 154, 154)"
                        d="M0 479.98L99.92 512l35.45-35.45-67.04-67.04L0 479.98zm124.61-240.01a36.592 36.592 0 0 0-10.79 38.1l13.05 42.83-50.93 50.94 96.23 96.23 50.86-50.86 42.74 13.08c13.73 4.2 28.65-.01 38.15-10.78l35.55-41.64-173.34-173.34-41.52 35.44zm403.31-160.7l-63.2-63.2c-20.49-20.49-53.38-21.52-75.12-2.35L190.55 183.68l169.77 169.78L530.27 154.4c19.18-21.74 18.15-54.63-2.35-75.13z" />
                </svg>
            </button>
            <button [hidden]="!isEditing" class="btn btn-light" (click)="edit_categories()" style="margin-top: 15px;">
                <svg viewBox="0 0 512 512" width="25" title="check-circle">
                    <path
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                </svg>
            </button>
            <div></div>
        </div>
    </div>
    <div></div>
    <div [hidden]="isEditing" class="grid-item grid-submit-score" (click)="post_new_score_entry()">
        <svg viewBox="0 0 512 512" width="40" title="check-circle">
            <path
                d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
        </svg>
    </div>
</div>