<div class="score-overview">
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
    <div class="day-score"></div>
</div>