/* You can add global styles to this file, and also import other style files */
body {
    background-color: #8f645652;
}

.grid-container {
    min-width: 300px;
    max-width: 500px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 20px;
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
    padding: 20px 20px 0px 20px;
}

.grid-item {
    padding: 5px;
    border: 1px solid black;
    background-color: white;
}

.grid-header {
    grid-column: span 2;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
}

.grid-categories {
    grid-column: span 2;
}

.grid-score-overview {
    grid-column: span 2;
    grid-row: span 4;
}

.grid-submit-score {
    justify-self: end;
    margin-right: 20px;
    font-size: 25px;
}

.new-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 10px;
}

.grid-date-dropdown {
    justify-self: center;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
}

.grid-add-score {
    justify-self: center;
}

.score-overview {
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
}

.day-score {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: #fca311;
    margin: 2px;
}

.new-category-score {
    height: 18px;
    width: 18px;
    border: 1px solid black;
    background-color: #fca311;
    margin: 2px;
}

/* https://www.w3schools.com/colors/colors_picker.asp (#fca311) */
.d1 { background-color: #fff5e6; }
.d2 { background-color: #feebcd; }
.d3 { background-color: #fed89a; }
.d4 { background-color: #fdc468; }
.d5 { background-color: #fca311; }
.d6 { background-color: #e38d02; }
.d7 { background-color: #b16e02; }
.d8 { background-color: #7e4e01; }
.d9 { background-color: #4c2f01; }
.d10 { background-color: #321f01; }